*.o
*.a
*.so
*.swp
*.pdb 
*.ilk 
*.idb
*.obj
*.exe
*.os
*.pyc
.sconsign.dblite
design/**/ui/*.bin
design/**/strings/*.bin
design/**/styles/*.bin
lua/demo1
lua/lftk_run
tags
bin/*
lib/*
.vscode
.vs
__pycache__
idl/idl.json
src/*.def
res
